.pageRoot {
  padding: 20px;
  background: #ffffff;
  border-radius: 16px;
     height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title {
  font-size: 24px;
  font-weight: bolder;
  color: #072635;
}

.profileContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.profileWrapper {
  display: flex;
  gap: 12px;
    align-items: center;

}
.profileName {
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  color: #072635;
}
.gender{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}